.TPASection_ltmtmok0 {
            --wix-color-1: 255,255,255;
--wix-color-2: 204,204,204;
--wix-color-3: 128,128,128;
--wix-color-4: 85,85,85;
--wix-color-5: 42,42,42;
--wix-color-6: 255,238,188;
--wix-color-7: 255,222,122;
--wix-color-8: 255,200,36;
--wix-color-9: 170,137,36;
--wix-color-10: 85,68,18;
--wix-color-11: 255,224,227;
--wix-color-12: 255,197,201;
--wix-color-13: 230,142,148;
--wix-color-14: 168,82,88;
--wix-color-15: 107,30,35;
--wix-color-16: 254,209,191;
--wix-color-17: 254,186,158;
--wix-color-18: 253,118,63;
--wix-color-19: 169,79,42;
--wix-color-20: 84,39,21;
--wix-color-21: 223,163,166;
--wix-color-22: 192,114,117;
--wix-color-23: 160,31,36;
--wix-color-24: 107,21,24;
--wix-color-25: 53,10,12;
--wix-color-26: 255,255,255;
--wix-color-27: 42,42,42;
--wix-color-28: 204,204,204;
--wix-color-29: 128,128,128;
--wix-color-30: 85,85,85;
--wix-color-31: 255,200,36;
--wix-color-32: 255,238,188;
--wix-color-33: 254,209,191;
--wix-color-34: 255,222,122;
--wix-color-35: 42,42,42;
--wix-color-36: 42,42,42;
--wix-color-37: 85,85,85;
--wix-color-38: 255,200,36;
--wix-color-39: 255,200,36;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 255,200,36;
--wix-color-43: 255,200,36;
--wix-color-44: 128,128,128;
--wix-color-45: 128,128,128;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 255,200,36;
--wix-color-49: 255,200,36;
--wix-color-50: 255,200,36;
--wix-color-51: 255,200,36;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 128,128,128;
--wix-color-55: 128,128,128;
--wix-font-Title: normal normal normal 22px/1.41em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 22px;
--wix-font-Title-line-height: 1.41em;
--wix-font-Title-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 14px/1.79em futura-lt-w01-light,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 14px;
--wix-font-Menu-line-height: 1.79em;
--wix-font-Menu-family: futura-lt-w01-light,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 28px/1.38em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 28px;
--wix-font-Page-title-line-height: 1.38em;
--wix-font-Page-title-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 88px/1.2em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 88px;
--wix-font-Heading-XL-line-height: 1.2em;
--wix-font-Heading-XL-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 72px/1.25em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 72px;
--wix-font-Heading-L-line-height: 1.25em;
--wix-font-Heading-L-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal normal 50px/1.34em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: normal;
--wix-font-Heading-M-size: 50px;
--wix-font-Heading-M-line-height: 1.34em;
--wix-font-Heading-M-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal normal 40px/1.35em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: normal;
--wix-font-Heading-S-size: 40px;
--wix-font-Heading-S-line-height: 1.35em;
--wix-font-Heading-S-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal normal 20px/1.67em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: normal;
--wix-font-Body-L-size: 20px;
--wix-font-Body-L-line-height: 1.67em;
--wix-font-Body-L-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 17px/1.75em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 17px;
--wix-font-Body-M-line-height: 1.75em;
--wix-font-Body-M-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 14px/1.88em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 14px;
--wix-font-Body-S-line-height: 1.88em;
--wix-font-Body-S-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 14px/1.79em futura-lt-w01-light,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 14px;
--wix-font-Body-XS-line-height: 1.79em;
--wix-font-Body-XS-family: futura-lt-w01-light,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
            --wix-direction: ltr;
--imageBorderWidth: 1;
--imageCornerRadius: 0;
--imageRatio: 1.5;
--inputFieldBorderWidth: 1;
--selectionButtonsCornerRadius: 1;
--inputFieldsCornerRadius: 1;
--ProductVariantsBorderWidth: 1;
--AmountSelectorOptionBorderWidth: 1;
--AmountSelectorOptionCornerRadius: 1;
--GiftCardRecipientBorderWidth: 1;
--GiftCardRecipientCornerRadius: 1;
--BuyNowButtonCornerRadius: 1;
--BuyNowButtonBorderWidth: 1;
--AddToCartButtonCornerRadius: 1;
--AddToCartButtonBorderWidth: 1;
--productTitleFont: normal normal normal 28px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--productPriceFont: normal normal normal 40px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--productDescriptionFont: normal normal normal 20px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--inputFieldFont: normal normal normal 17px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--inputFieldTitlesFont: normal normal normal 17px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--ProductVariantsTextFont: normal normal normal 17px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--AmountSelectorOptionTextFont: normal normal normal 17px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--GiftCardRecipientTextFont: normal normal normal 17px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--BuyNowButtonTextFont: normal normal normal 17px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--AddToCartButtonTextFont: normal normal normal 17px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--productTitleColor: 42,42,42;
--productTitleColor-rgb: 42,42,42;
--productTitleColor-opacity: 1;
--productPriceColor: 42,42,42;
--productPriceColor-rgb: 42,42,42;
--productPriceColor-opacity: 1;
--productDescriptionColor: 42,42,42;
--productDescriptionColor-rgb: 42,42,42;
--productDescriptionColor-opacity: 1;
--backgroundColor: 255,255,255;
--backgroundColor-rgb: 255,255,255;
--backgroundColor-opacity: 1;
--imageBorderColor: 204,204,204;
--imageBorderColor-rgb: 204,204,204;
--imageBorderColor-opacity: 1;
--inputFieldBackgroundColor: 255,255,255;
--inputFieldBackgroundColor-rgb: 255,255,255;
--inputFieldBackgroundColor-opacity: 1;
--inputFieldBorderColor: 42,42,42;
--inputFieldBorderColor-rgb: 42,42,42;
--inputFieldBorderColor-opacity: 1;
--inputFieldColor: 42,42,42;
--inputFieldColor-rgb: 42,42,42;
--inputFieldColor-opacity: 1;
--inputFieldTitlesColor: 42,42,42;
--inputFieldTitlesColor-rgb: 42,42,42;
--inputFieldTitlesColor-opacity: 1;
--ProductVariantsFillColorOpacity: 255,255,255;
--ProductVariantsFillColorOpacity-rgb: 255,255,255;
--ProductVariantsFillColorOpacity-opacity: 1;
--ProductVariantsBorderColor: 42,42,42;
--ProductVariantsBorderColor-rgb: 42,42,42;
--ProductVariantsBorderColor-opacity: 1;
--ProductVariantsSelectedBoxColor: 255,200,36;
--ProductVariantsSelectedBoxColor-rgb: 255,200,36;
--ProductVariantsSelectedBoxColor-opacity: 1;
--ProductVariantsTextColor: 42,42,42;
--ProductVariantsTextColor-rgb: 42,42,42;
--ProductVariantsTextColor-opacity: 1;
--AmountSelectorOptionFillColorOpacity: 255,255,255;
--AmountSelectorOptionFillColorOpacity-rgb: 255,255,255;
--AmountSelectorOptionFillColorOpacity-opacity: 1;
--AmountSelectorOptionSelectedBoxColor: 255,200,36;
--AmountSelectorOptionSelectedBoxColor-rgb: 255,200,36;
--AmountSelectorOptionSelectedBoxColor-opacity: 1;
--AmountSelectorOptionBorderColor: 42,42,42;
--AmountSelectorOptionBorderColor-rgb: 42,42,42;
--AmountSelectorOptionBorderColor-opacity: 1;
--AmountSelectorOptionTextColor: 42,42,42;
--AmountSelectorOptionTextColor-rgb: 42,42,42;
--AmountSelectorOptionTextColor-opacity: 1;
--GiftCardRecipientFillColorOpacity: 255,255,255;
--GiftCardRecipientFillColorOpacity-rgb: 255,255,255;
--GiftCardRecipientFillColorOpacity-opacity: 1;
--GiftCardRecipientTextColor: 42,42,42;
--GiftCardRecipientTextColor-rgb: 42,42,42;
--GiftCardRecipientTextColor-opacity: 1;
--GiftCardRecipientSelectedBoxColor: 255,200,36;
--GiftCardRecipientSelectedBoxColor-rgb: 255,200,36;
--GiftCardRecipientSelectedBoxColor-opacity: 1;
--GiftCardRecipientBorderColor: 42,42,42;
--GiftCardRecipientBorderColor-rgb: 42,42,42;
--GiftCardRecipientBorderColor-opacity: 1;
--BuyNowButtonTextColor: 255,255,255;
--BuyNowButtonTextColor-rgb: 255,255,255;
--BuyNowButtonTextColor-opacity: 1;
--BuyNowButtonBorderColor: 255,255,255;
--BuyNowButtonBorderColor-rgb: 255,255,255;
--BuyNowButtonBorderColor-opacity: 1;
--BuyNowButtonFillColorOpacity: 42,42,42;
--BuyNowButtonFillColorOpacity-rgb: 42,42,42;
--BuyNowButtonFillColorOpacity-opacity: 1;
--AddToCartButtonTextColor: 255,255,255;
--AddToCartButtonTextColor-rgb: 255,255,255;
--AddToCartButtonTextColor-opacity: 1;
--AddToCartButtonBorderColor: 255,255,255;
--AddToCartButtonBorderColor-rgb: 255,255,255;
--AddToCartButtonBorderColor-opacity: 1;
--AddToCartButtonFillColorOpacity: 255,200,36;
--AddToCartButtonFillColorOpacity-rgb: 255,200,36;
--AddToCartButtonFillColorOpacity-opacity: 1;
--productTitleFont-style: normal;
--productTitleFont-variant: normal;
--productTitleFont-weight: normal;
--productTitleFont-size: 28px;
--productTitleFont-line-height: 1.4em;
--productTitleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--productTitleFont-text-decoration: none;
--productPriceFont-style: normal;
--productPriceFont-variant: normal;
--productPriceFont-weight: normal;
--productPriceFont-size: 40px;
--productPriceFont-line-height: 1.4em;
--productPriceFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--productPriceFont-text-decoration: none;
--productDescriptionFont-style: normal;
--productDescriptionFont-variant: normal;
--productDescriptionFont-weight: normal;
--productDescriptionFont-size: 20px;
--productDescriptionFont-line-height: 1.4em;
--productDescriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--productDescriptionFont-text-decoration: none;
--inputFieldFont-style: normal;
--inputFieldFont-variant: normal;
--inputFieldFont-weight: normal;
--inputFieldFont-size: 17px;
--inputFieldFont-line-height: 1.4em;
--inputFieldFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--inputFieldFont-text-decoration: none;
--inputFieldTitlesFont-style: normal;
--inputFieldTitlesFont-variant: normal;
--inputFieldTitlesFont-weight: normal;
--inputFieldTitlesFont-size: 17px;
--inputFieldTitlesFont-line-height: 1.4em;
--inputFieldTitlesFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--inputFieldTitlesFont-text-decoration: none;
--ProductVariantsTextFont-style: normal;
--ProductVariantsTextFont-variant: normal;
--ProductVariantsTextFont-weight: normal;
--ProductVariantsTextFont-size: 17px;
--ProductVariantsTextFont-line-height: 1.4em;
--ProductVariantsTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--ProductVariantsTextFont-text-decoration: none;
--AmountSelectorOptionTextFont-style: normal;
--AmountSelectorOptionTextFont-variant: normal;
--AmountSelectorOptionTextFont-weight: normal;
--AmountSelectorOptionTextFont-size: 17px;
--AmountSelectorOptionTextFont-line-height: 1.4em;
--AmountSelectorOptionTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--AmountSelectorOptionTextFont-text-decoration: none;
--GiftCardRecipientTextFont-style: normal;
--GiftCardRecipientTextFont-variant: normal;
--GiftCardRecipientTextFont-weight: normal;
--GiftCardRecipientTextFont-size: 17px;
--GiftCardRecipientTextFont-line-height: 1.4em;
--GiftCardRecipientTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--GiftCardRecipientTextFont-text-decoration: none;
--BuyNowButtonTextFont-style: normal;
--BuyNowButtonTextFont-variant: normal;
--BuyNowButtonTextFont-weight: normal;
--BuyNowButtonTextFont-size: 17px;
--BuyNowButtonTextFont-line-height: 1.4em;
--BuyNowButtonTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--BuyNowButtonTextFont-text-decoration: none;
--AddToCartButtonTextFont-style: normal;
--AddToCartButtonTextFont-variant: normal;
--AddToCartButtonTextFont-weight: normal;
--AddToCartButtonTextFont-size: 17px;
--AddToCartButtonTextFont-line-height: 1.4em;
--AddToCartButtonTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--AddToCartButtonTextFont-text-decoration: none;
        }