/*** VSM_CSS ***/ #iss2n{width:auto;min-height:40px;}#pageBackground_iss2n{--bg-position:absolute;--fill-layer-background-overlay-color:transparent;--fill-layer-background-overlay-position:absolute;--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;}#comp-lc4afprk{--bg-overlay-color:transparent;--bg-gradient:none;min-width:980px;}.TPAMultiSection_l319enn4 {
				--wix-direction: ltr;
--post-mobile-pageFontSize: 12;
--post-mobile-headerTwoFontSize: 20;
--post-mobile-quotesFontSize: 20;
--post-mobile-titleFontSize: 20;
--post-mobile-headerFourFontSize: 20;
--post-mobile-headerThreeFontSize: 20;
--post-mobile-headerFiveFontSize: 16;
--tagLayout: 0;
--showRelatedPostsLabelType: 1;
--buttonTagAlignment: 0;
--buttonTagBorderWidth: 1;
--buttonTagBorderRadius: 0;
--buttonTagVerticalPadding: 6;
--buttonTagHorizontalPadding: 12;
--buttonTagVerticalSpacing: 8;
--buttonTagHorizontalSpacing: 8;
--textTagAlignment: 0;
--textTagVerticalSpacing: 12;
--textTagHorizontalSpacing: 12;
--postBorderWidth: 1;
--heroImageCropPosition: center;
--heroImageHeight: 350;
--heroImageCropType: 0;
--navigation-textColor: 42,42,42;
--navigation-textColor-rgb: 42,42,42;
--navigation-textColor-opacity: 1;
--navigation-textColorActive: 255,200,36;
--navigation-textColorActive-rgb: 255,200,36;
--navigation-textColorActive-opacity: 1;
--widget-notificationBubbleColor: 230,142,148;
--widget-notificationBubbleColor-rgb: 230,142,148;
--widget-notificationBubbleColor-opacity: 1;
--widget-notificationBubbleTextColor: 255,255,255;
--widget-notificationBubbleTextColor-rgb: 255,255,255;
--widget-notificationBubbleTextColor-opacity: 1;
--navigation-backgroundColor: 255,255,255;
--navigation-backgroundColor-rgb: 255,255,255;
--navigation-backgroundColor-opacity: 1;
--post-textColor: 42,42,42;
--post-textColor-rgb: 42,42,42;
--post-textColor-opacity: 1;
--post-quotesColor: 42,42,42;
--post-quotesColor-rgb: 42,42,42;
--post-quotesColor-opacity: 1;
--blog-linkHashtagColor: 255,200,36;
--blog-linkHashtagColor-rgb: 255,200,36;
--blog-linkHashtagColor-opacity: 1;
--post-titleColor: 42,42,42;
--post-titleColor-rgb: 42,42,42;
--post-titleColor-opacity: 1;
--post-headerTwoColor: 42,42,42;
--post-headerTwoColor-rgb: 42,42,42;
--post-headerTwoColor-opacity: 1;
--post-headerThreeColor: 42,42,42;
--post-headerThreeColor-rgb: 42,42,42;
--post-headerThreeColor-opacity: 1;
--post-headerFourColor: 42,42,42;
--post-headerFourColor-rgb: 42,42,42;
--post-headerFourColor-opacity: 1;
--post-headerFiveColor: 42,42,42;
--post-headerFiveColor-rgb: 42,42,42;
--post-headerFiveColor-opacity: 1;
--post-headerSixColor: 42,42,42;
--post-headerSixColor-rgb: 42,42,42;
--post-headerSixColor-opacity: 1;
--tags-buttonTag-textColor: 204,204,204;
--tags-buttonTag-textColor-rgb: 204,204,204;
--tags-buttonTag-textColor-opacity: 1;
--tags-buttonTag-backgroundColor: 255,255,255;
--tags-buttonTag-backgroundColor-rgb: 255,255,255;
--tags-buttonTag-backgroundColor-opacity: 1;
--tags-buttonTag-borderColor: 42,42,42,0.2;
--tags-buttonTag-borderColor-rgb: 42,42,42;
--tags-buttonTag-borderColor-opacity: 0.2;
--tags-buttonTag-textHoverColor: 85,85,85;
--tags-buttonTag-textHoverColor-rgb: 85,85,85;
--tags-buttonTag-textHoverColor-opacity: 1;
--tags-buttonTag-backgroundHoverColor: 255,255,255;
--tags-buttonTag-backgroundHoverColor-rgb: 255,255,255;
--tags-buttonTag-backgroundHoverColor-opacity: 1;
--tags-buttonTag-borderHoverColor: 42,42,42,0.6;
--tags-buttonTag-borderHoverColor-rgb: 42,42,42;
--tags-buttonTag-borderHoverColor-opacity: 0.6;
--post-cardBorderColor: 204,204,204,0.75;
--post-cardBorderColor-rgb: 204,204,204;
--post-cardBorderColor-opacity: 0.75;
--post-cardBackgroundColor: 255,255,255;
--post-cardBackgroundColor-rgb: 255,255,255;
--post-cardBackgroundColor-opacity: 1;
--post-appBackgroundColor: 255,255,255;
--post-appBackgroundColor-rgb: 255,255,255;
--post-appBackgroundColor-opacity: 1;
--button-textColor: 255,255,255;
--button-textColor-rgb: 255,255,255;
--button-textColor-opacity: 1;
--button-color: 255,200,36;
--button-color-rgb: 255,200,36;
--button-color-opacity: 1;
--post-ratingFilledStarColor: 255,200,36;
--post-ratingFilledStarColor-rgb: 255,200,36;
--post-ratingFilledStarColor-opacity: 1;
--post-ratingUnfilledStarColor: 128,128,128;
--post-ratingUnfilledStarColor-rgb: 128,128,128;
--post-ratingUnfilledStarColor-opacity: 1;
--post-ratingFontColor: 42,42,42;
--post-ratingFontColor-rgb: 42,42,42;
--post-ratingFontColor-opacity: 1;
--tags-textTag-textColor: 42,42,42;
--tags-textTag-textColor-rgb: 42,42,42;
--tags-textTag-textColor-opacity: 1;
--tags-textTag-textHoverColor: 255,200,36;
--tags-textTag-textHoverColor-rgb: 255,200,36;
--tags-textTag-textHoverColor-opacity: 1;
--navigationTextColor: 42,42,42;
--navigationTextColor-rgb: 42,42,42;
--navigationTextColor-opacity: 1;
--navigationTextActiveColor: 255,200,36;
--navigationTextActiveColor-rgb: 255,200,36;
--navigationTextActiveColor-opacity: 1;
--navigationBackgroundColor: 255,255,255;
--navigationBackgroundColor-rgb: 255,255,255;
--navigationBackgroundColor-opacity: 1;
--textParagraphColor: 42,42,42;
--textParagraphColor-rgb: 42,42,42;
--textParagraphColor-opacity: 1;
--textQuoteColor: 42,42,42;
--textQuoteColor-rgb: 42,42,42;
--textQuoteColor-opacity: 1;
--textLinksAndHashtagsColor: 255,200,36;
--textLinksAndHashtagsColor-rgb: 255,200,36;
--textLinksAndHashtagsColor-opacity: 1;
--textH1Color: 42,42,42;
--textH1Color-rgb: 42,42,42;
--textH1Color-opacity: 1;
--textH2Color: 42,42,42;
--textH2Color-rgb: 42,42,42;
--textH2Color-opacity: 1;
--textH3Color: 42,42,42;
--textH3Color-rgb: 42,42,42;
--textH3Color-opacity: 1;
--textH4Color: 42,42,42;
--textH4Color-rgb: 42,42,42;
--textH4Color-opacity: 1;
--textH5Color: 42,42,42;
--textH5Color-rgb: 42,42,42;
--textH5Color-opacity: 1;
--textH6Color: 42,42,42;
--textH6Color-rgb: 42,42,42;
--textH6Color-opacity: 1;
--ratingsTextColor: 42,42,42;
--ratingsTextColor-rgb: 42,42,42;
--ratingsTextColor-opacity: 1;
--ratingsStarFilledColor: 255,200,36;
--ratingsStarFilledColor-rgb: 255,200,36;
--ratingsStarFilledColor-opacity: 1;
--ratingsStarEmptyColor: 128,128,128;
--ratingsStarEmptyColor-rgb: 128,128,128;
--ratingsStarEmptyColor-opacity: 1;
--buttonTagTextColor: 204,204,204;
--buttonTagTextColor-rgb: 204,204,204;
--buttonTagTextColor-opacity: 1;
--buttonTagTextHoverColor: 85,85,85;
--buttonTagTextHoverColor-rgb: 85,85,85;
--buttonTagTextHoverColor-opacity: 1;
--buttonTagBackgroundColor: 255,255,255;
--buttonTagBackgroundColor-rgb: 255,255,255;
--buttonTagBackgroundColor-opacity: 1;
--buttonTagBackgroundHoverColor: 255,255,255;
--buttonTagBackgroundHoverColor-rgb: 255,255,255;
--buttonTagBackgroundHoverColor-opacity: 1;
--buttonTagBorderColor: 42,42,42,0.2;
--buttonTagBorderColor-rgb: 42,42,42;
--buttonTagBorderColor-opacity: 0.2;
--buttonTagBorderHoverColor: 42,42,42,0.6;
--buttonTagBorderHoverColor-rgb: 42,42,42;
--buttonTagBorderHoverColor-opacity: 0.6;
--textTagTextColor: 42,42,42;
--textTagTextColor-rgb: 42,42,42;
--textTagTextColor-opacity: 1;
--textTagTextHoverColor: 255,200,36;
--textTagTextHoverColor-rgb: 255,200,36;
--textTagTextHoverColor-opacity: 1;
--postBorderColor: 204,204,204,0.75;
--postBorderColor-rgb: 204,204,204;
--postBorderColor-opacity: 0.75;
--postBackgroundColor: 255,255,255;
--postBackgroundColor-rgb: 255,255,255;
--postBackgroundColor-opacity: 1;
--postAreaBackgroundColor: 255,255,255;
--postAreaBackgroundColor-rgb: 255,255,255;
--postAreaBackgroundColor-opacity: 1;
--postButtonTextColor: 255,255,255;
--postButtonTextColor-rgb: 255,255,255;
--postButtonTextColor-opacity: 1;
--postButtonBackgroundColor: 255,200,36;
--postButtonBackgroundColor-rgb: 255,200,36;
--postButtonBackgroundColor-opacity: 1;
--navigation-font: normal normal normal 18px/22px quicksand,sans-serif;
--navigation-font-style: normal;
--navigation-font-variant: normal;
--navigation-font-weight: normal;
--navigation-font-size: 18px;
--navigation-font-line-height: 22px;
--navigation-font-family: quicksand,sans-serif;
--navigation-font-text-decoration: none;
--post-pageFont: normal normal normal 17px/21px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pageFont-style: normal;
--post-pageFont-variant: normal;
--post-pageFont-weight: normal;
--post-pageFont-size: 17px;
--post-pageFont-line-height: 21px;
--post-pageFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pageFont-text-decoration: none;
--post-quotesFont: normal normal normal 24px/30px quicksand,sans-serif;
--post-quotesFont-style: normal;
--post-quotesFont-variant: normal;
--post-quotesFont-weight: normal;
--post-quotesFont-size: 24px;
--post-quotesFont-line-height: 30px;
--post-quotesFont-family: quicksand,sans-serif;
--post-quotesFont-text-decoration: none;
--post-titleFont: normal normal bold 36px/45px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-titleFont-style: normal;
--post-titleFont-variant: normal;
--post-titleFont-weight: bold;
--post-titleFont-size: 36px;
--post-titleFont-line-height: 45px;
--post-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-titleFont-text-decoration: none;
--post-headerTwoFont: normal normal bold 24px/30px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerTwoFont-style: normal;
--post-headerTwoFont-variant: normal;
--post-headerTwoFont-weight: bold;
--post-headerTwoFont-size: 24px;
--post-headerTwoFont-line-height: 30px;
--post-headerTwoFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerTwoFont-text-decoration: none;
--post-headerThreeFont: normal normal normal 22px/27px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerThreeFont-style: normal;
--post-headerThreeFont-variant: normal;
--post-headerThreeFont-weight: normal;
--post-headerThreeFont-size: 22px;
--post-headerThreeFont-line-height: 27px;
--post-headerThreeFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerThreeFont-text-decoration: none;
--post-headerFourFont: normal normal normal 20px/25px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerFourFont-style: normal;
--post-headerFourFont-variant: normal;
--post-headerFourFont-weight: normal;
--post-headerFourFont-size: 20px;
--post-headerFourFont-line-height: 25px;
--post-headerFourFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerFourFont-text-decoration: none;
--post-headerFiveFont: normal normal normal 17px/21px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerFiveFont-style: normal;
--post-headerFiveFont-variant: normal;
--post-headerFiveFont-weight: normal;
--post-headerFiveFont-size: 17px;
--post-headerFiveFont-line-height: 21px;
--post-headerFiveFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerFiveFont-text-decoration: none;
--post-headerSixFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerSixFont-style: normal;
--post-headerSixFont-variant: normal;
--post-headerSixFont-weight: normal;
--post-headerSixFont-size: 14px;
--post-headerSixFont-line-height: 17px;
--post-headerSixFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-headerSixFont-text-decoration: none;
--tags-buttonTag-textFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--tags-buttonTag-textFont-style: normal;
--tags-buttonTag-textFont-variant: normal;
--tags-buttonTag-textFont-weight: normal;
--tags-buttonTag-textFont-size: 14px;
--tags-buttonTag-textFont-line-height: 17px;
--tags-buttonTag-textFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--tags-buttonTag-textFont-text-decoration: none;
--post-ratingFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-ratingFont-style: normal;
--post-ratingFont-variant: normal;
--post-ratingFont-weight: normal;
--post-ratingFont-size: 14px;
--post-ratingFont-line-height: 17px;
--post-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-ratingFont-text-decoration: none;
--tags-textTag-textFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--tags-textTag-textFont-style: normal;
--tags-textTag-textFont-variant: normal;
--tags-textTag-textFont-weight: normal;
--tags-textTag-textFont-size: 14px;
--tags-textTag-textFont-line-height: 17px;
--tags-textTag-textFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--tags-textTag-textFont-text-decoration: none;
--navigationTextFont: normal normal normal 18px/22px quicksand,sans-serif;
--navigationTextFont-style: normal;
--navigationTextFont-variant: normal;
--navigationTextFont-weight: normal;
--navigationTextFont-size: 18px;
--navigationTextFont-line-height: 22px;
--navigationTextFont-family: quicksand,sans-serif;
--navigationTextFont-text-decoration: none;
--textParagraphFont: normal normal normal 17px/21px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textParagraphFont-style: normal;
--textParagraphFont-variant: normal;
--textParagraphFont-weight: normal;
--textParagraphFont-size: 17px;
--textParagraphFont-line-height: 21px;
--textParagraphFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textParagraphFont-text-decoration: none;
--textQuoteFont: normal normal normal 24px/30px quicksand,sans-serif;
--textQuoteFont-style: normal;
--textQuoteFont-variant: normal;
--textQuoteFont-weight: normal;
--textQuoteFont-size: 24px;
--textQuoteFont-line-height: 30px;
--textQuoteFont-family: quicksand,sans-serif;
--textQuoteFont-text-decoration: none;
--textH1Font: normal normal bold 36px/45px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH1Font-style: normal;
--textH1Font-variant: normal;
--textH1Font-weight: bold;
--textH1Font-size: 36px;
--textH1Font-line-height: 45px;
--textH1Font-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH1Font-text-decoration: none;
--textH2Font: normal normal bold 24px/30px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH2Font-style: normal;
--textH2Font-variant: normal;
--textH2Font-weight: bold;
--textH2Font-size: 24px;
--textH2Font-line-height: 30px;
--textH2Font-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH2Font-text-decoration: none;
--textH3Font: normal normal normal 22px/27px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH3Font-style: normal;
--textH3Font-variant: normal;
--textH3Font-weight: normal;
--textH3Font-size: 22px;
--textH3Font-line-height: 27px;
--textH3Font-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH3Font-text-decoration: none;
--textH4Font: normal normal normal 20px/25px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH4Font-style: normal;
--textH4Font-variant: normal;
--textH4Font-weight: normal;
--textH4Font-size: 20px;
--textH4Font-line-height: 25px;
--textH4Font-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH4Font-text-decoration: none;
--textH5Font: normal normal normal 17px/21px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH5Font-style: normal;
--textH5Font-variant: normal;
--textH5Font-weight: normal;
--textH5Font-size: 17px;
--textH5Font-line-height: 21px;
--textH5Font-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH5Font-text-decoration: none;
--textH6Font: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH6Font-style: normal;
--textH6Font-variant: normal;
--textH6Font-weight: normal;
--textH6Font-size: 14px;
--textH6Font-line-height: 17px;
--textH6Font-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textH6Font-text-decoration: none;
--ratingsTextFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--ratingsTextFont-style: normal;
--ratingsTextFont-variant: normal;
--ratingsTextFont-weight: normal;
--ratingsTextFont-size: 14px;
--ratingsTextFont-line-height: 17px;
--ratingsTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--ratingsTextFont-text-decoration: none;
--buttonTagTextFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--buttonTagTextFont-style: normal;
--buttonTagTextFont-variant: normal;
--buttonTagTextFont-weight: normal;
--buttonTagTextFont-size: 14px;
--buttonTagTextFont-line-height: 17px;
--buttonTagTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--buttonTagTextFont-text-decoration: none;
--textTagTextFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textTagTextFont-style: normal;
--textTagTextFont-variant: normal;
--textTagTextFont-weight: normal;
--textTagTextFont-size: 14px;
--textTagTextFont-line-height: 17px;
--textTagTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--textTagTextFont-text-decoration: none;
--postSectionMetadataAndMoreActionsDisplay: flex;
--postSectionMetadataDisplay: grid;
--postAuthorNameDisplay: contents;
--postAuthorPictureDisplay: inline-block;
--postPublishDateDisplay: none;
--postPublishDateSeparatorDisplay: inline;
--postReadingTimeDisplay: block;
--postReadingTimeSeparatorDisplay: inline;
--postTitleDisplay: block;
--postUpdatedDateDisplay: none;
--postRatingDisplay: flex;
--postMoreActionsDisplay: block;
--postFooterDisplay: flex;
--postFooterActionsDisplay: block;
--postSectionCountersDisplay: flex;
--postViewCountDisplay: flex;
--postCommentCountDisplay: none;
--postLikeCountDisplay: flex;
--postSectionShareDisplay: flex;
--postShareIconFacebookDisplay: block;
--postShareIconXDisplay: block;
--postShareIconLinkedInDisplay: block;
--postShareIconLinkDisplay: block;
--postShareIconPrintDisplay: none;
--relatedPostsDisplay: block;
--relatedPostsItemFooterOffset: 45px;
--relatedPostsSeeAllDisplay: inline;
--menuResponsiveDisplay: none;
--menuDisplay: none;
--menuCategoriesDisplay: none;
--menuSearchDisplay: none;
--postCategoriesDisplay: none;
--tagDisplay: flex;
--tagLabelDisplay: none;
--tagTextFont: normal normal normal 14px/17px arial, ｍｓ ｐゴシック, ms pgothic, 돋움, dotum, helvetica, sans-serif;
--tagTextDecoration: none;
--tagTextColor: rgba(204,204,204,1);
--tagTextHoverColor: rgba(85,85,85,1);
--tagBorderWidth: 1;
--tagBorderStyle: solid;
--tagBorderColor: rgba(42,42,42,0.2);
--tagBorderHoverColor: rgba(42,42,42,0.6);
--tagBorderRadius: 0;
--tagBackgroundColor: rgba(255,255,255,1);
--tagBackgroundHoverColor: rgba(255,255,255,1);
--tagFlexAlignment: flex-start;
--tagTextAlignment: start;
--tagVerticalSpacing: 8;
--tagHorizontalSpacing: 8;
--tagVerticalPadding: 6;
--tagHorizontalPadding: 12;
--heroImageObjectFit: cover;
				--wix-color-1: 255,255,255;
--wix-color-2: 204,204,204;
--wix-color-3: 128,128,128;
--wix-color-4: 85,85,85;
--wix-color-5: 42,42,42;
--wix-color-6: 255,238,188;
--wix-color-7: 255,222,122;
--wix-color-8: 255,200,36;
--wix-color-9: 170,137,36;
--wix-color-10: 85,68,18;
--wix-color-11: 255,224,227;
--wix-color-12: 255,197,201;
--wix-color-13: 230,142,148;
--wix-color-14: 168,82,88;
--wix-color-15: 107,30,35;
--wix-color-16: 254,209,191;
--wix-color-17: 254,186,158;
--wix-color-18: 253,118,63;
--wix-color-19: 169,79,42;
--wix-color-20: 84,39,21;
--wix-color-21: 223,163,166;
--wix-color-22: 192,114,117;
--wix-color-23: 160,31,36;
--wix-color-24: 107,21,24;
--wix-color-25: 53,10,12;
--wix-color-26: 255,255,255;
--wix-color-27: 42,42,42;
--wix-color-28: 204,204,204;
--wix-color-29: 128,128,128;
--wix-color-30: 85,85,85;
--wix-color-31: 255,200,36;
--wix-color-32: 255,238,188;
--wix-color-33: 254,209,191;
--wix-color-34: 255,222,122;
--wix-color-35: 42,42,42;
--wix-color-36: 42,42,42;
--wix-color-37: 85,85,85;
--wix-color-38: 255,200,36;
--wix-color-39: 255,200,36;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 255,200,36;
--wix-color-43: 255,200,36;
--wix-color-44: 128,128,128;
--wix-color-45: 128,128,128;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 255,200,36;
--wix-color-49: 255,200,36;
--wix-color-50: 255,200,36;
--wix-color-51: 255,200,36;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 128,128,128;
--wix-color-55: 128,128,128;
--wix-font-Title: normal normal normal 22px/1.41em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 22px;
--wix-font-Title-line-height: 1.41em;
--wix-font-Title-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 14px/1.79em futura-lt-w01-light,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 14px;
--wix-font-Menu-line-height: 1.79em;
--wix-font-Menu-family: futura-lt-w01-light,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 28px/1.38em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 28px;
--wix-font-Page-title-line-height: 1.38em;
--wix-font-Page-title-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 88px/1.2em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 88px;
--wix-font-Heading-XL-line-height: 1.2em;
--wix-font-Heading-XL-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 72px/1.25em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 72px;
--wix-font-Heading-L-line-height: 1.25em;
--wix-font-Heading-L-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal normal 50px/1.34em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: normal;
--wix-font-Heading-M-size: 50px;
--wix-font-Heading-M-line-height: 1.34em;
--wix-font-Heading-M-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal normal 40px/1.35em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: normal;
--wix-font-Heading-S-size: 40px;
--wix-font-Heading-S-line-height: 1.35em;
--wix-font-Heading-S-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal normal 20px/1.67em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: normal;
--wix-font-Body-L-size: 20px;
--wix-font-Body-L-line-height: 1.67em;
--wix-font-Body-L-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 17px/1.75em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 17px;
--wix-font-Body-M-line-height: 1.75em;
--wix-font-Body-M-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 14px/1.88em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 14px;
--wix-font-Body-S-line-height: 1.88em;
--wix-font-Body-S-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 14px/1.79em futura-lt-w01-light,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 14px;
--wix-font-Body-XS-line-height: 1.79em;
--wix-font-Body-XS-family: futura-lt-w01-light,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
		}
.TPAMultiSection_l319enn4 .s__9rdAsR.oETgx7Q---skin-5-wired .spKe5eL{background-color:#2A2A2A;color:#FFFFFF;border-color:#2A2A2A}.TPAMultiSection_l319enn4 .s__9rdAsR.oETgx7Q---skin-5-wired .sF6GRKy path{fill:#2A2A2A;stroke:#2A2A2A}




















































