/*** VSM_CSS ***/ #c209l{width:auto;min-height:40px;}#pageBackground_c209l{--bg-position:absolute;--bg-overlay-color:rgb(var(--color_12));--bg-gradient:none;}#comp-ljgsfctk{--fill-layer-image-opacity:1;--bg-overlay-color:rgb(var(--color_40));--bg-gradient:none;min-width:980px;}#comp-ljgsfcu6{--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--direction:ltr;}#comp-ljgsfcuu{--bg-overlay-color:transparent;--bg-gradient:none;width:100%;--column-width:490px;--column-flex:490;}#comp-lnwzpm4j{--height:96px;--width:168px;}#comp-ljgsfcuy{--min-height:16px;--text-direction:var(--wix-opt-in-direction);}#comp-lnwxgenl{--direction:var(--wix-opt-in-direction, ltr);--text-alignment:start;--orientation:row;--paddingStart:15px;}#comp-ljgsfcum{--fill-layer-image-opacity:1;--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;width:100%;--column-width:490px;--column-flex:490;}#comp-lnydmmcj{--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;min-width:980px;}#comp-lnydmmdi{--text-direction:var(--wix-opt-in-direction);}#comp-lnydmmdu{--bg-overlay-color:transparent;--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--direction:ltr;}#comp-lnydmme02{--fill-layer-image-opacity:1;--bg-gradient:radial-gradient(circle at 3.6751302083333335% 6.940104166666666%, #4D6001 0%, 11.55%, rgba(77,96,1,0) 35%), radial-gradient(circle at 92.96712239583333% 9.554036458333332%, #FAAA63 0%, 17.5%, rgba(250,170,99,0) 35%), radial-gradient(circle at 95.20670572916666% 90.48177083333333%, #C9C6FF 0%, 34.1%, rgba(201,198,255,0) 55%), radial-gradient(circle at 4.313151041666666% 93.34635416666667%, #97B49D 0%, 29.900000000000002%, rgba(151,180,157,0) 65%), radial-gradient(circle at 46.555989583333336% 11.50390625%, rgba(214,222,72,0.99) 0%, 25%, rgba(214,222,72,0) 50%), radial-gradient(circle at 51.121419270833336% 89.98697916666667%, #93C3FF 0%, 42%, rgba(147,195,255,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);--bg-overlay-color:transparent;width:100%;--column-width:980px;--column-flex:980;}#comp-lnydmme24{--direction:var(--wix-opt-in-direction);--justify-content:center;--item-margin:10px 10px;--margin-top:-10px;--margin-bottom:-10px;--margin-inline-start:-10px;--margin-inline-end:-10px;--docked-margin:20px;}[id^="comp-lnydmmeb1__"]{--scale:1;--bg-overlay-color:transparent;--bg-gradient:none;border-width:0 0 0 0;border-style:solid solid solid solid;border-color:rgba(24, 24, 24, 1) rgba(24, 24, 24, 1) rgba(24, 24, 24, 1) rgba(24, 24, 24, 1);border-radius:0 0 0 0;overflow:clip !important;transform:translateZ(0);margin:-0px;}[id^="comp-lnydmmej__"]{--height:274px;--width:287px;}[id^="comp-lnydmmer__"]{--shc-mutated-brightness:128,128,128;}[id^="comp-lnydmmes2__"]{--text-direction:var(--wix-opt-in-direction);}#comp-locolg23{--text-direction:var(--wix-opt-in-direction);}#comp-ljgun63b{--bg-overlay-color:rgb(var(--color_37));--bg-gradient:none;min-width:980px;}#comp-ljgun64l{--bg-overlay-color:transparent;--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--direction:ltr;}#comp-ljgun64o{--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;width:100%;--column-width:333px;--column-flex:333;}#comp-ljgun64p2{--text-direction:var(--wix-opt-in-direction);}#comp-ljgun64s{--text-direction:var(--wix-opt-in-direction);}#comp-lny0utd0{--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;width:100%;--column-width:647px;--column-flex:647;}.comp-lny18bx0 {
				--wix-direction: ltr;
--layout-post-list-layoutType: 15;
--layout-post-list-list-layoutSpacing: 32;
--layout-post-list-pg-side-by-side-imageRatio: 3;
--layout-post-list-pg-side-by-side-sidesPadding: 20;
--layout-post-list-list-sidesPadding: 16;
--layout-post-list-pg-side-by-side-layoutSpacing: 10;
--layout-post-list-list-contentHeight: 48;
--postListWidgetEntityCount: 3;
--layout-post-list-pg-side-by-side-margins: 9;
--layout-post-list-pg-side-by-side-imageProportions: 30;
--layout-post-list-list-imageRatio: 3;
--layout-post-list-list-margins: 0;
--layout-mobile-post-list-layoutType: 19;
--layout-mobile-post-list-list-imageProportions: 30;
--layout-mobile-post-list-list-layoutSpacing: 5;
--layout-mobile-post-list-list-layoutPostSize: 249;
--layout-mobile-post-list-list-contentHeight: 40;
--postListWidgetPaginationType: 0;
--postListWidgetPostsPerPage: 3;
--layout-post-list-list-imageCropType: 0;
--layout-mobile-post-list-pg-grid-imageCropType: 0;
--layout-mobile-post-list-list-imageCropType: 0;
--layout-post-list-pg-grid-imageCropType: 0;
--layout-post-list-pg-side-by-side-imageCropType: 0;
--layout-mobile-post-list-pg-grid-imageRatio: 2;
--layout-mobile-post-list-list-imageRatio: 2;
--layout-mobile-post-list-pg-text-on-image-medium-imageRatio: 2;
--layout-mobile-post-list-slider-imageRatio: 2;
--layout-post-list-pg-grid-imageRatio: 2;
--layout-post-list-slider-imageRatio: 2;
--layout-post-list-pg-text-on-image-medium-imageRatio: 3;
--contentAlignment: 0;
--contentAlignmentMobile: 0;
--layout-post-list-list-imageAlignment: 1;
--layout-mobile-post-list-list-imageAlignment: 1;
--layout-post-list-pg-side-by-side-imageAlignment: 1;
--layout-post-list-list-imageProportions: 25;
--postListWidgetSliderPauseTime: 4;
--postListWidgetSliderPauseTimeMobile: 4;
--postListWidgetSliderArrowsPosition: 0;
--postListWidgetSliderArrowsPositionMobile: 0;
--postListWidgetSliderArrowsSize: 18;
--postListWidgetSliderArrowsSizeMobile: 18;
--layout-post-list-list-layoutCardsRowType: 0;
--layout-post-list-list-layoutPostSize: 292;
--layout-post-list-list-layoutPostsPerRow: 3;
--layout-mobile-post-list-pg-grid-layoutCardsRowType: 0;
--layout-mobile-post-list-pg-grid-layoutPostSize: 292;
--layout-mobile-post-list-pg-grid-layoutPostsPerRow: 3;
--layout-mobile-post-list-list-layoutCardsRowType: 0;
--layout-mobile-post-list-list-layoutPostsPerRow: 3;
--layout-mobile-post-list-pg-text-on-image-medium-layoutCardsRowType: 0;
--layout-mobile-post-list-pg-text-on-image-medium-layoutPostSize: 292;
--layout-mobile-post-list-pg-text-on-image-medium-layoutPostsPerRow: 3;
--layout-post-list-pg-grid-layoutCardsRowType: 0;
--layout-post-list-pg-grid-layoutPostSize: 292;
--layout-post-list-pg-grid-layoutPostsPerRow: 3;
--layout-post-list-pg-text-on-image-medium-layoutCardsRowType: 0;
--layout-post-list-pg-text-on-image-medium-layoutPostSize: 454;
--layout-post-list-pg-text-on-image-medium-layoutPostsPerRow: 3;
--layout-mobile-post-list-pg-grid-layoutSpacing: 20;
--layout-mobile-post-list-pg-text-on-image-medium-layoutSpacing: 20;
--layout-post-list-pg-grid-layoutSpacing: 32;
--layout-post-list-pg-text-on-image-medium-layoutSpacing: 32;
--layout-post-list-pg-one-column-layoutSpacing: 32;
--layout-post-list-list-contentHeightType: 0;
--layout-mobile-post-list-pg-grid-contentHeight: 350;
--layout-mobile-post-list-pg-grid-contentHeightType: 0;
--layout-mobile-post-list-slider-contentHeight: 350;
--layout-mobile-post-list-slider-contentHeightType: 0;
--layout-post-list-pg-grid-contentHeightType: 1;
--layout-post-list-pg-grid-contentHeight: 156;
--layout-post-list-slider-contentHeightType: 1;
--layout-post-list-slider-contentHeight: 156;
--layout-post-list-pg-one-column-contentHeightType: 1;
--layout-post-list-pg-one-column-contentHeight: 156;
--layout-mobile-post-list-pg-grid-sidesPadding: 24;
--layout-mobile-post-list-list-sidesPadding: 12;
--layout-mobile-post-list-pg-text-on-image-medium-sidesPadding: 12;
--layout-mobile-post-list-slider-sidesPadding: 24;
--layout-post-list-pg-grid-sidesPadding: 16;
--layout-post-list-slider-sidesPadding: 16;
--layout-post-list-pg-text-on-image-medium-sidesPadding: 30;
--layout-post-list-pg-one-column-sidesPadding: 16;
--layout-post-list-list-titleLineCount: 3;
--layout-mobile-post-list-pg-grid-titleLineCount: 2;
--layout-mobile-post-list-pg-grid-descriptionLineCount: 3;
--layout-mobile-post-list-list-titleLineCount: 2;
--layout-mobile-post-list-pg-text-on-image-medium-titleLineCount: 2;
--layout-mobile-post-list-slider-titleLineCount: 2;
--layout-mobile-post-list-slider-descriptionLineCount: 3;
--layout-post-list-pg-grid-titleLineCount: 3;
--layout-post-list-slider-titleLineCount: 3;
--layout-post-list-pg-side-by-side-titleLineCount: 3;
--layout-post-list-pg-text-on-image-medium-titleLineCount: 3;
--layout-post-list-pg-one-column-titleLineCount: 3;
--layout-post-list-pg-grid-descriptionLineCount: 1;
--layout-post-list-slider-descriptionLineCount: 1;
--layout-post-list-pg-side-by-side-descriptionLineCount: 1;
--layout-post-list-pg-one-column-descriptionLineCount: 1;
--post-slider-post-list-mobile-titleFontSize: 22;
--post-list-post-list-mobile-titleFontSize: 14;
--post-pg-text-on-image-medium-post-list-mobile-titleFontSize: 22;
--post-pg-grid-post-list-mobile-titleFontSize: 22;
--post-pg-grid-post-list-mobile-descriptionFontSize: 16;
--post-post-list-borderWidth: 1;
--post-post-list-mobile-borderWidth: 1;
--post-post-list-postRadius: 0;
--post-post-list-mobile-postRadius: 0;
--category-label-layoutType: 0;
--category-label-button-horizontalPadding: 12;
--category-label-button-verticalPadding: 6;
--category-label-button-cornerRadius: 0;
--category-label-button-borderWidth: 0;
--post-list-video-play: 0;
--post-list-video-playbackSpeed: 2;
--category-label-text-textFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--category-label-button-textFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-post-list-ratingFont: normal normal normal 17px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-one-column-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-medium-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-slider-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-medium-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-large-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-intermediate-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-large-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-medium-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-right-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-large-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-small-post-list-ratingFont: normal normal normal 14px/19.599999999999998px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-post-list-backgroundColor: 255,255,255;
--post-post-list-backgroundColor-rgb: 255,255,255;
--post-post-list-backgroundColor-opacity: 1;
--post-post-list-linkHashtagColor: 255,200,36;
--post-post-list-linkHashtagColor-rgb: 255,200,36;
--post-post-list-linkHashtagColor-opacity: 1;
--postListWidgetSliderArrowsColor: 42,42,42;
--postListWidgetSliderArrowsColor-rgb: 42,42,42;
--postListWidgetSliderArrowsColor-opacity: 1;
--post-post-list-ratingUnfilledStarColor: 128,128,128;
--post-post-list-ratingUnfilledStarColor-rgb: 128,128,128;
--post-post-list-ratingUnfilledStarColor-opacity: 1;
--post-post-list-titleColor: 42,42,42;
--post-post-list-titleColor-rgb: 42,42,42;
--post-post-list-titleColor-opacity: 1;
--post-post-list-borderColor: 204,204,204,0.75;
--post-post-list-borderColor-rgb: 204,204,204;
--post-post-list-borderColor-opacity: 0.75;
--post-post-list-ratingFilledStarColor: 255,200,36;
--post-post-list-ratingFilledStarColor-rgb: 255,200,36;
--post-post-list-ratingFilledStarColor-opacity: 1;
--post-post-list-ratingFontColor: 42,42,42;
--post-post-list-ratingFontColor-rgb: 42,42,42;
--post-post-list-ratingFontColor-opacity: 1;
--post-post-list-descriptionColor: 42,42,42;
--post-post-list-descriptionColor-rgb: 42,42,42;
--post-post-list-descriptionColor-opacity: 1;
--postListWidgetBackgroundColor: 255,255,255,0;
--postListWidgetBackgroundColor-rgb: 255,255,255;
--postListWidgetBackgroundColor-opacity: 0;
--post-post-list-mobile-titleColor: 42,42,42;
--post-post-list-mobile-titleColor-rgb: 42,42,42;
--post-post-list-mobile-titleColor-opacity: 1;
--post-post-list-mobile-descriptionColor: 42,42,42;
--post-post-list-mobile-descriptionColor-rgb: 42,42,42;
--post-post-list-mobile-descriptionColor-opacity: 1;
--post-post-list-mobile-linkHashtagColor: 255,200,36;
--post-post-list-mobile-linkHashtagColor-rgb: 255,200,36;
--post-post-list-mobile-linkHashtagColor-opacity: 1;
--post-post-list-mobile-borderColor: 204,204,204,0.75;
--post-post-list-mobile-borderColor-rgb: 204,204,204;
--post-post-list-mobile-borderColor-opacity: 0.75;
--post-post-list-mobile-backgroundColor: 255,255,255;
--post-post-list-mobile-backgroundColor-rgb: 255,255,255;
--post-post-list-mobile-backgroundColor-opacity: 1;
--postListWidgetBackgroundColorMobile: 42,42,42,0;
--postListWidgetBackgroundColorMobile-rgb: 42,42,42;
--postListWidgetBackgroundColorMobile-opacity: 0;
--postListWidgetSliderArrowsColorMobile: 42,42,42;
--postListWidgetSliderArrowsColorMobile-rgb: 42,42,42;
--postListWidgetSliderArrowsColorMobile-opacity: 1;
--post-post-list-TOI-titleColor: 255,255,255;
--post-post-list-TOI-titleColor-rgb: 255,255,255;
--post-post-list-TOI-titleColor-opacity: 1;
--post-post-list-TOI-mobile-titleColor: 255,255,255;
--post-post-list-TOI-mobile-titleColor-rgb: 255,255,255;
--post-post-list-TOI-mobile-titleColor-opacity: 1;
--post-post-list-TOI-descriptionColor: 255,255,255;
--post-post-list-TOI-descriptionColor-rgb: 255,255,255;
--post-post-list-TOI-descriptionColor-opacity: 1;
--post-post-list-TOI-mobile-descriptionColor: 255,255,255;
--post-post-list-TOI-mobile-descriptionColor-rgb: 255,255,255;
--post-post-list-TOI-mobile-descriptionColor-opacity: 1;
--post-post-list-overlayColor: 42,42,42,0.55;
--post-post-list-overlayColor-rgb: 42,42,42;
--post-post-list-overlayColor-opacity: 0.55;
--post-post-list-mobile-overlayColor: 42,42,42,0.55;
--post-post-list-mobile-overlayColor-rgb: 42,42,42;
--post-post-list-mobile-overlayColor-opacity: 0.55;
--category-label-text-textColor: 255,200,36;
--category-label-text-textColor-rgb: 255,200,36;
--category-label-text-textColor-opacity: 1;
--category-label-text-textColorHover: 255,200,36,0.7;
--category-label-text-textColorHover-rgb: 255,200,36;
--category-label-text-textColorHover-opacity: 0.7;
--category-label-button-textColor: 255,255,255;
--category-label-button-textColor-rgb: 255,255,255;
--category-label-button-textColor-opacity: 1;
--category-label-button-textColorHover: 255,255,255;
--category-label-button-textColorHover-rgb: 255,255,255;
--category-label-button-textColorHover-opacity: 1;
--category-label-button-backgroundColor: 255,200,36;
--category-label-button-backgroundColor-rgb: 255,200,36;
--category-label-button-backgroundColor-opacity: 1;
--category-label-button-backgroundColorHover: 255,200,36,0.7;
--category-label-button-backgroundColorHover-rgb: 255,200,36;
--category-label-button-backgroundColorHover-opacity: 0.7;
--category-label-button-borderColor: 255,200,36;
--category-label-button-borderColor-rgb: 255,200,36;
--category-label-button-borderColor-opacity: 1;
--category-label-button-borderColorHover: 255,200,36,0.7;
--category-label-button-borderColorHover-rgb: 255,200,36;
--category-label-button-borderColorHover-opacity: 0.7;
--post-post-list-TOI-ratingFilledStarColor: 255,255,255;
--post-post-list-TOI-ratingFilledStarColor-rgb: 255,255,255;
--post-post-list-TOI-ratingFilledStarColor-opacity: 1;
--post-post-list-TOI-ratingUnfilledStarColor: 128,128,128;
--post-post-list-TOI-ratingUnfilledStarColor-rgb: 128,128,128;
--post-post-list-TOI-ratingUnfilledStarColor-opacity: 1;
--post-post-list-TOI-ratingFontColor: 255,255,255;
--post-post-list-TOI-ratingFontColor-rgb: 255,255,255;
--post-post-list-TOI-ratingFontColor-opacity: 1;
--post-pg-grid-post-list-titleFont: normal normal normal 22px/27px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-post-list-titleFont-style: normal;
--post-pg-grid-post-list-titleFont-variant: normal;
--post-pg-grid-post-list-titleFont-weight: normal;
--post-pg-grid-post-list-titleFont-size: 22px;
--post-pg-grid-post-list-titleFont-line-height: 27px;
--post-pg-grid-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-post-list-titleFont-text-decoration: none;
--post-pg-grid-intermediate-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-intermediate-post-list-descriptionFont-style: normal;
--post-pg-grid-intermediate-post-list-descriptionFont-variant: normal;
--post-pg-grid-intermediate-post-list-descriptionFont-weight: normal;
--post-pg-grid-intermediate-post-list-descriptionFont-size: 16px;
--post-pg-grid-intermediate-post-list-descriptionFont-line-height: 20px;
--post-pg-grid-intermediate-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-intermediate-post-list-descriptionFont-text-decoration: none;
--post-pg-grid-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-post-list-descriptionFont-style: normal;
--post-pg-grid-post-list-descriptionFont-variant: normal;
--post-pg-grid-post-list-descriptionFont-weight: normal;
--post-pg-grid-post-list-descriptionFont-size: 16px;
--post-pg-grid-post-list-descriptionFont-line-height: 20px;
--post-pg-grid-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-post-list-descriptionFont-text-decoration: none;
--post-list-medium-post-list-descriptionFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-medium-post-list-descriptionFont-style: normal;
--post-list-medium-post-list-descriptionFont-variant: normal;
--post-list-medium-post-list-descriptionFont-weight: normal;
--post-list-medium-post-list-descriptionFont-size: 14px;
--post-list-medium-post-list-descriptionFont-line-height: 17px;
--post-list-medium-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-medium-post-list-descriptionFont-text-decoration: none;
--post-pg-side-by-side-post-list-ratingFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-post-list-ratingFont-style: normal;
--post-pg-side-by-side-post-list-ratingFont-variant: normal;
--post-pg-side-by-side-post-list-ratingFont-weight: normal;
--post-pg-side-by-side-post-list-ratingFont-size: 14px;
--post-pg-side-by-side-post-list-ratingFont-line-height: 17px;
--post-pg-side-by-side-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-post-list-ratingFont-text-decoration: none;
--post-list-post-list-titleFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-post-list-titleFont-style: normal;
--post-list-post-list-titleFont-variant: normal;
--post-list-post-list-titleFont-weight: normal;
--post-list-post-list-titleFont-size: 14px;
--post-list-post-list-titleFont-line-height: 17px;
--post-list-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-post-list-titleFont-text-decoration: none;
--post-pg-one-column-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-one-column-post-list-descriptionFont-style: normal;
--post-pg-one-column-post-list-descriptionFont-variant: normal;
--post-pg-one-column-post-list-descriptionFont-weight: normal;
--post-pg-one-column-post-list-descriptionFont-size: 16px;
--post-pg-one-column-post-list-descriptionFont-line-height: 20px;
--post-pg-one-column-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-one-column-post-list-descriptionFont-text-decoration: none;
--post-slider-post-list-titleFont: normal normal normal 22px/27px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-slider-post-list-titleFont-style: normal;
--post-slider-post-list-titleFont-variant: normal;
--post-slider-post-list-titleFont-weight: normal;
--post-slider-post-list-titleFont-size: 22px;
--post-slider-post-list-titleFont-line-height: 27px;
--post-slider-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-slider-post-list-titleFont-text-decoration: none;
--post-slider-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-slider-post-list-descriptionFont-style: normal;
--post-slider-post-list-descriptionFont-variant: normal;
--post-slider-post-list-descriptionFont-weight: normal;
--post-slider-post-list-descriptionFont-size: 16px;
--post-slider-post-list-descriptionFont-line-height: 20px;
--post-slider-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-slider-post-list-descriptionFont-text-decoration: none;
--post-pg-side-by-side-right-post-list-titleFont: normal normal normal 28px/35px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-right-post-list-titleFont-style: normal;
--post-pg-side-by-side-right-post-list-titleFont-variant: normal;
--post-pg-side-by-side-right-post-list-titleFont-weight: normal;
--post-pg-side-by-side-right-post-list-titleFont-size: 28px;
--post-pg-side-by-side-right-post-list-titleFont-line-height: 35px;
--post-pg-side-by-side-right-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-right-post-list-titleFont-text-decoration: none;
--post-pg-medium-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-medium-post-list-descriptionFont-style: normal;
--post-pg-medium-post-list-descriptionFont-variant: normal;
--post-pg-medium-post-list-descriptionFont-weight: normal;
--post-pg-medium-post-list-descriptionFont-size: 16px;
--post-pg-medium-post-list-descriptionFont-line-height: 20px;
--post-pg-medium-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-medium-post-list-descriptionFont-text-decoration: none;
--post-pg-one-column-post-list-titleFont: normal normal normal 28px/35px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-one-column-post-list-titleFont-style: normal;
--post-pg-one-column-post-list-titleFont-variant: normal;
--post-pg-one-column-post-list-titleFont-weight: normal;
--post-pg-one-column-post-list-titleFont-size: 28px;
--post-pg-one-column-post-list-titleFont-line-height: 35px;
--post-pg-one-column-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-one-column-post-list-titleFont-text-decoration: none;
--post-post-list-descriptionFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-post-list-descriptionFont-style: normal;
--post-post-list-descriptionFont-variant: normal;
--post-post-list-descriptionFont-weight: normal;
--post-post-list-descriptionFont-size: 14px;
--post-post-list-descriptionFont-line-height: 17px;
--post-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-post-list-descriptionFont-text-decoration: none;
--post-pg-side-by-side-post-list-titleFont: normal normal bold 24px/30px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-post-list-titleFont-style: normal;
--post-pg-side-by-side-post-list-titleFont-variant: normal;
--post-pg-side-by-side-post-list-titleFont-weight: bold;
--post-pg-side-by-side-post-list-titleFont-size: 24px;
--post-pg-side-by-side-post-list-titleFont-line-height: 30px;
--post-pg-side-by-side-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-post-list-titleFont-text-decoration: none;
--post-pg-text-on-image-medium-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-medium-post-list-descriptionFont-style: normal;
--post-pg-text-on-image-medium-post-list-descriptionFont-variant: normal;
--post-pg-text-on-image-medium-post-list-descriptionFont-weight: normal;
--post-pg-text-on-image-medium-post-list-descriptionFont-size: 16px;
--post-pg-text-on-image-medium-post-list-descriptionFont-line-height: 20px;
--post-pg-text-on-image-medium-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-medium-post-list-descriptionFont-text-decoration: none;
--post-pg-text-on-image-large-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-large-post-list-descriptionFont-style: normal;
--post-pg-text-on-image-large-post-list-descriptionFont-variant: normal;
--post-pg-text-on-image-large-post-list-descriptionFont-weight: normal;
--post-pg-text-on-image-large-post-list-descriptionFont-size: 16px;
--post-pg-text-on-image-large-post-list-descriptionFont-line-height: 20px;
--post-pg-text-on-image-large-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-large-post-list-descriptionFont-text-decoration: none;
--post-list-post-list-descriptionFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-post-list-descriptionFont-style: normal;
--post-list-post-list-descriptionFont-variant: normal;
--post-list-post-list-descriptionFont-weight: normal;
--post-list-post-list-descriptionFont-size: 14px;
--post-list-post-list-descriptionFont-line-height: 17px;
--post-list-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-post-list-descriptionFont-text-decoration: none;
--post-list-large-post-list-titleFont: normal normal normal 22px/27px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-large-post-list-titleFont-style: normal;
--post-list-large-post-list-titleFont-variant: normal;
--post-list-large-post-list-titleFont-weight: normal;
--post-list-large-post-list-titleFont-size: 22px;
--post-list-large-post-list-titleFont-line-height: 27px;
--post-list-large-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-large-post-list-titleFont-text-decoration: none;
--post-list-medium-post-list-titleFont: normal normal normal 18px/22px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-medium-post-list-titleFont-style: normal;
--post-list-medium-post-list-titleFont-variant: normal;
--post-list-medium-post-list-titleFont-weight: normal;
--post-list-medium-post-list-titleFont-size: 18px;
--post-list-medium-post-list-titleFont-line-height: 22px;
--post-list-medium-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-medium-post-list-titleFont-text-decoration: none;
--post-pg-grid-large-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-large-post-list-descriptionFont-style: normal;
--post-pg-grid-large-post-list-descriptionFont-variant: normal;
--post-pg-grid-large-post-list-descriptionFont-weight: normal;
--post-pg-grid-large-post-list-descriptionFont-size: 16px;
--post-pg-grid-large-post-list-descriptionFont-line-height: 20px;
--post-pg-grid-large-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-large-post-list-descriptionFont-text-decoration: none;
--post-pg-side-by-side-right-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-right-post-list-descriptionFont-style: normal;
--post-pg-side-by-side-right-post-list-descriptionFont-variant: normal;
--post-pg-side-by-side-right-post-list-descriptionFont-weight: normal;
--post-pg-side-by-side-right-post-list-descriptionFont-size: 16px;
--post-pg-side-by-side-right-post-list-descriptionFont-line-height: 20px;
--post-pg-side-by-side-right-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-right-post-list-descriptionFont-text-decoration: none;
--post-pg-grid-intermediate-post-list-titleFont: normal normal normal 22px/27px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-intermediate-post-list-titleFont-style: normal;
--post-pg-grid-intermediate-post-list-titleFont-variant: normal;
--post-pg-grid-intermediate-post-list-titleFont-weight: normal;
--post-pg-grid-intermediate-post-list-titleFont-size: 22px;
--post-pg-grid-intermediate-post-list-titleFont-line-height: 27px;
--post-pg-grid-intermediate-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-intermediate-post-list-titleFont-text-decoration: none;
--post-pg-side-by-side-post-list-descriptionFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-post-list-descriptionFont-style: normal;
--post-pg-side-by-side-post-list-descriptionFont-variant: normal;
--post-pg-side-by-side-post-list-descriptionFont-weight: normal;
--post-pg-side-by-side-post-list-descriptionFont-size: 14px;
--post-pg-side-by-side-post-list-descriptionFont-line-height: 17px;
--post-pg-side-by-side-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-post-list-descriptionFont-text-decoration: none;
--post-pg-text-on-image-small-post-list-titleFont: normal normal normal 22px/27px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-small-post-list-titleFont-style: normal;
--post-pg-text-on-image-small-post-list-titleFont-variant: normal;
--post-pg-text-on-image-small-post-list-titleFont-weight: normal;
--post-pg-text-on-image-small-post-list-titleFont-size: 22px;
--post-pg-text-on-image-small-post-list-titleFont-line-height: 27px;
--post-pg-text-on-image-small-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-small-post-list-titleFont-text-decoration: none;
--post-post-list-titleFont: normal normal bold 24px/30px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-post-list-titleFont-style: normal;
--post-post-list-titleFont-variant: normal;
--post-post-list-titleFont-weight: bold;
--post-post-list-titleFont-size: 24px;
--post-post-list-titleFont-line-height: 30px;
--post-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-post-list-titleFont-text-decoration: none;
--post-pg-medium-post-list-titleFont: normal normal normal 26px/32px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-medium-post-list-titleFont-style: normal;
--post-pg-medium-post-list-titleFont-variant: normal;
--post-pg-medium-post-list-titleFont-weight: normal;
--post-pg-medium-post-list-titleFont-size: 26px;
--post-pg-medium-post-list-titleFont-line-height: 32px;
--post-pg-medium-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-medium-post-list-titleFont-text-decoration: none;
--post-list-large-post-list-descriptionFont: normal normal normal 14px/17px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-large-post-list-descriptionFont-style: normal;
--post-list-large-post-list-descriptionFont-variant: normal;
--post-list-large-post-list-descriptionFont-weight: normal;
--post-list-large-post-list-descriptionFont-size: 14px;
--post-list-large-post-list-descriptionFont-line-height: 17px;
--post-list-large-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-large-post-list-descriptionFont-text-decoration: none;
--post-pg-text-on-image-large-post-list-titleFont: normal normal normal 28px/35px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-large-post-list-titleFont-style: normal;
--post-pg-text-on-image-large-post-list-titleFont-variant: normal;
--post-pg-text-on-image-large-post-list-titleFont-weight: normal;
--post-pg-text-on-image-large-post-list-titleFont-size: 28px;
--post-pg-text-on-image-large-post-list-titleFont-line-height: 35px;
--post-pg-text-on-image-large-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-large-post-list-titleFont-text-decoration: none;
--post-pg-text-on-image-medium-post-list-titleFont: normal normal normal 26px/32px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-medium-post-list-titleFont-style: normal;
--post-pg-text-on-image-medium-post-list-titleFont-variant: normal;
--post-pg-text-on-image-medium-post-list-titleFont-weight: normal;
--post-pg-text-on-image-medium-post-list-titleFont-size: 26px;
--post-pg-text-on-image-medium-post-list-titleFont-line-height: 32px;
--post-pg-text-on-image-medium-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-medium-post-list-titleFont-text-decoration: none;
--post-pg-text-on-image-small-post-list-descriptionFont: normal normal normal 16px/20px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-small-post-list-descriptionFont-style: normal;
--post-pg-text-on-image-small-post-list-descriptionFont-variant: normal;
--post-pg-text-on-image-small-post-list-descriptionFont-weight: normal;
--post-pg-text-on-image-small-post-list-descriptionFont-size: 16px;
--post-pg-text-on-image-small-post-list-descriptionFont-line-height: 20px;
--post-pg-text-on-image-small-post-list-descriptionFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-small-post-list-descriptionFont-text-decoration: none;
--post-pg-grid-large-post-list-titleFont: normal normal normal 22px/27px arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-large-post-list-titleFont-style: normal;
--post-pg-grid-large-post-list-titleFont-variant: normal;
--post-pg-grid-large-post-list-titleFont-weight: normal;
--post-pg-grid-large-post-list-titleFont-size: 22px;
--post-pg-grid-large-post-list-titleFont-line-height: 27px;
--post-pg-grid-large-post-list-titleFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-large-post-list-titleFont-text-decoration: none;
--category-label-text-textFont-style: normal;
--category-label-text-textFont-variant: normal;
--category-label-text-textFont-weight: normal;
--category-label-text-textFont-size: 14px;
--category-label-text-textFont-line-height: 19.599999999999998px;
--category-label-text-textFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--category-label-text-textFont-text-decoration: none;
--category-label-button-textFont-style: normal;
--category-label-button-textFont-variant: normal;
--category-label-button-textFont-weight: normal;
--category-label-button-textFont-size: 14px;
--category-label-button-textFont-line-height: 19.599999999999998px;
--category-label-button-textFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--category-label-button-textFont-text-decoration: none;
--post-post-list-ratingFont-style: normal;
--post-post-list-ratingFont-variant: normal;
--post-post-list-ratingFont-weight: normal;
--post-post-list-ratingFont-size: 17px;
--post-post-list-ratingFont-line-height: 1.4em;
--post-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-post-list-ratingFont-text-decoration: none;
--post-list-post-list-ratingFont-style: normal;
--post-list-post-list-ratingFont-variant: normal;
--post-list-post-list-ratingFont-weight: normal;
--post-list-post-list-ratingFont-size: 14px;
--post-list-post-list-ratingFont-line-height: 19.599999999999998px;
--post-list-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-post-list-ratingFont-text-decoration: none;
--post-pg-grid-post-list-ratingFont-style: normal;
--post-pg-grid-post-list-ratingFont-variant: normal;
--post-pg-grid-post-list-ratingFont-weight: normal;
--post-pg-grid-post-list-ratingFont-size: 14px;
--post-pg-grid-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-grid-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-post-list-ratingFont-text-decoration: none;
--post-pg-one-column-post-list-ratingFont-style: normal;
--post-pg-one-column-post-list-ratingFont-variant: normal;
--post-pg-one-column-post-list-ratingFont-weight: normal;
--post-pg-one-column-post-list-ratingFont-size: 14px;
--post-pg-one-column-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-one-column-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-one-column-post-list-ratingFont-text-decoration: none;
--post-pg-text-on-image-medium-post-list-ratingFont-style: normal;
--post-pg-text-on-image-medium-post-list-ratingFont-variant: normal;
--post-pg-text-on-image-medium-post-list-ratingFont-weight: normal;
--post-pg-text-on-image-medium-post-list-ratingFont-size: 14px;
--post-pg-text-on-image-medium-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-text-on-image-medium-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-medium-post-list-ratingFont-text-decoration: none;
--post-slider-post-list-ratingFont-style: normal;
--post-slider-post-list-ratingFont-variant: normal;
--post-slider-post-list-ratingFont-weight: normal;
--post-slider-post-list-ratingFont-size: 14px;
--post-slider-post-list-ratingFont-line-height: 19.599999999999998px;
--post-slider-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-slider-post-list-ratingFont-text-decoration: none;
--post-list-medium-post-list-ratingFont-style: normal;
--post-list-medium-post-list-ratingFont-variant: normal;
--post-list-medium-post-list-ratingFont-weight: normal;
--post-list-medium-post-list-ratingFont-size: 14px;
--post-list-medium-post-list-ratingFont-line-height: 19.599999999999998px;
--post-list-medium-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-medium-post-list-ratingFont-text-decoration: none;
--post-list-large-post-list-ratingFont-style: normal;
--post-list-large-post-list-ratingFont-variant: normal;
--post-list-large-post-list-ratingFont-weight: normal;
--post-list-large-post-list-ratingFont-size: 14px;
--post-list-large-post-list-ratingFont-line-height: 19.599999999999998px;
--post-list-large-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-list-large-post-list-ratingFont-text-decoration: none;
--post-pg-grid-intermediate-post-list-ratingFont-style: normal;
--post-pg-grid-intermediate-post-list-ratingFont-variant: normal;
--post-pg-grid-intermediate-post-list-ratingFont-weight: normal;
--post-pg-grid-intermediate-post-list-ratingFont-size: 14px;
--post-pg-grid-intermediate-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-grid-intermediate-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-intermediate-post-list-ratingFont-text-decoration: none;
--post-pg-grid-large-post-list-ratingFont-style: normal;
--post-pg-grid-large-post-list-ratingFont-variant: normal;
--post-pg-grid-large-post-list-ratingFont-weight: normal;
--post-pg-grid-large-post-list-ratingFont-size: 14px;
--post-pg-grid-large-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-grid-large-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-grid-large-post-list-ratingFont-text-decoration: none;
--post-pg-medium-post-list-ratingFont-style: normal;
--post-pg-medium-post-list-ratingFont-variant: normal;
--post-pg-medium-post-list-ratingFont-weight: normal;
--post-pg-medium-post-list-ratingFont-size: 14px;
--post-pg-medium-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-medium-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-medium-post-list-ratingFont-text-decoration: none;
--post-pg-side-by-side-right-post-list-ratingFont-style: normal;
--post-pg-side-by-side-right-post-list-ratingFont-variant: normal;
--post-pg-side-by-side-right-post-list-ratingFont-weight: normal;
--post-pg-side-by-side-right-post-list-ratingFont-size: 14px;
--post-pg-side-by-side-right-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-side-by-side-right-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-side-by-side-right-post-list-ratingFont-text-decoration: none;
--post-pg-text-on-image-large-post-list-ratingFont-style: normal;
--post-pg-text-on-image-large-post-list-ratingFont-variant: normal;
--post-pg-text-on-image-large-post-list-ratingFont-weight: normal;
--post-pg-text-on-image-large-post-list-ratingFont-size: 14px;
--post-pg-text-on-image-large-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-text-on-image-large-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-large-post-list-ratingFont-text-decoration: none;
--post-pg-text-on-image-small-post-list-ratingFont-style: normal;
--post-pg-text-on-image-small-post-list-ratingFont-variant: normal;
--post-pg-text-on-image-small-post-list-ratingFont-weight: normal;
--post-pg-text-on-image-small-post-list-ratingFont-size: 14px;
--post-pg-text-on-image-small-post-list-ratingFont-line-height: 19.599999999999998px;
--post-pg-text-on-image-small-post-list-ratingFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--post-pg-text-on-image-small-post-list-ratingFont-text-decoration: none;
				--wix-color-1: 255,255,255;
--wix-color-2: 204,204,204;
--wix-color-3: 128,128,128;
--wix-color-4: 85,85,85;
--wix-color-5: 42,42,42;
--wix-color-6: 255,238,188;
--wix-color-7: 255,222,122;
--wix-color-8: 255,200,36;
--wix-color-9: 170,137,36;
--wix-color-10: 85,68,18;
--wix-color-11: 255,224,227;
--wix-color-12: 255,197,201;
--wix-color-13: 230,142,148;
--wix-color-14: 168,82,88;
--wix-color-15: 107,30,35;
--wix-color-16: 254,209,191;
--wix-color-17: 254,186,158;
--wix-color-18: 253,118,63;
--wix-color-19: 169,79,42;
--wix-color-20: 84,39,21;
--wix-color-21: 223,163,166;
--wix-color-22: 192,114,117;
--wix-color-23: 160,31,36;
--wix-color-24: 107,21,24;
--wix-color-25: 53,10,12;
--wix-color-26: 255,255,255;
--wix-color-27: 42,42,42;
--wix-color-28: 204,204,204;
--wix-color-29: 128,128,128;
--wix-color-30: 85,85,85;
--wix-color-31: 255,200,36;
--wix-color-32: 255,238,188;
--wix-color-33: 254,209,191;
--wix-color-34: 255,222,122;
--wix-color-35: 42,42,42;
--wix-color-36: 42,42,42;
--wix-color-37: 85,85,85;
--wix-color-38: 255,200,36;
--wix-color-39: 255,200,36;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 255,200,36;
--wix-color-43: 255,200,36;
--wix-color-44: 128,128,128;
--wix-color-45: 128,128,128;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 255,200,36;
--wix-color-49: 255,200,36;
--wix-color-50: 255,200,36;
--wix-color-51: 255,200,36;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 128,128,128;
--wix-color-55: 128,128,128;
--wix-font-Title: normal normal normal 22px/1.41em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 22px;
--wix-font-Title-line-height: 1.41em;
--wix-font-Title-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 14px/1.79em futura-lt-w01-light,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 14px;
--wix-font-Menu-line-height: 1.79em;
--wix-font-Menu-family: futura-lt-w01-light,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 28px/1.38em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 28px;
--wix-font-Page-title-line-height: 1.38em;
--wix-font-Page-title-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 88px/1.2em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 88px;
--wix-font-Heading-XL-line-height: 1.2em;
--wix-font-Heading-XL-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 72px/1.25em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 72px;
--wix-font-Heading-L-line-height: 1.25em;
--wix-font-Heading-L-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal normal 50px/1.34em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: normal;
--wix-font-Heading-M-size: 50px;
--wix-font-Heading-M-line-height: 1.34em;
--wix-font-Heading-M-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal normal 40px/1.35em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: normal;
--wix-font-Heading-S-size: 40px;
--wix-font-Heading-S-line-height: 1.35em;
--wix-font-Heading-S-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal normal 20px/1.67em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: normal;
--wix-font-Body-L-size: 20px;
--wix-font-Body-L-line-height: 1.67em;
--wix-font-Body-L-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 17px/1.75em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 17px;
--wix-font-Body-M-line-height: 1.75em;
--wix-font-Body-M-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 14px/1.88em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 14px;
--wix-font-Body-S-line-height: 1.88em;
--wix-font-Body-S-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 14px/1.79em futura-lt-w01-light,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 14px;
--wix-font-Body-XS-line-height: 1.79em;
--wix-font-Body-XS-family: futura-lt-w01-light,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
		}

#comp-ljgunqoz{--fill-layer-image-opacity:1;--bg-overlay-color:rgb(70, 130, 180);--bg-gradient:none;min-width:980px;}#comp-ljgunqr4{--bg-overlay-color:transparent;--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--direction:ltr;}#comp-ljgunqr6{--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;width:100%;--column-width:490px;--column-flex:490;}#comp-ljgunqr8{--text-direction:var(--wix-opt-in-direction);}#comp-ljgunqra{--text-direction:var(--wix-opt-in-direction);}#comp-lny3ogft{--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;width:100%;--column-width:490px;--column-flex:490;}#comp-lny3oghi4{--height:380px;--width:600px;}#comp-ljgsfcw6{--bg-overlay-color:rgb(var(--color_37));--bg-gradient:none;min-width:980px;}#comp-ljgsfcw9{--bg-overlay-color:transparent;--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--direction:ltr;}#comp-ljgsfcwc{--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;width:100%;--column-width:588px;--column-flex:588;}#comp-lo3pe5rm2{--text-direction:var(--wix-opt-in-direction);}#comp-lo3pe5rs2{--fnt:normal normal normal 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--fntlbl:normal normal 700 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--direction:var(--wix-opt-in-direction, ltr);--align:start;--labelDirection:inherit;--inputDirection:inherit;--errorDirection:inherit;--requiredIndicationDisplay:inline;--labelMarginBottom:6px;--textPadding:3px;--textPadding_start:20px;--textPadding_end:3px;--labelPadding_start:0px;--labelPadding_end:20px;height:auto;--inputHeight:50px;}#comp-lo3pxwne{--height:32px;--width:32px;}#comp-lo3py9yl{--height:32px;--width:32px;}#comp-lo3pe5rz1{--fnt:normal normal normal 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--fntlbl:normal normal 700 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--direction:var(--wix-opt-in-direction, ltr);--align:start;--labelDirection:inherit;--inputDirection:inherit;--errorDirection:inherit;--requiredIndicationDisplay:inline;--labelMarginBottom:6px;--textPadding:3px;--textPadding_start:20px;--textPadding_end:3px;--labelPadding_start:0px;--labelPadding_end:20px;height:auto;--inputHeight:50px;}#comp-lo3pe5s6{--fnt:normal normal normal 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--fntlbl:normal normal 700 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--direction:var(--wix-opt-in-direction, ltr);--align:start;--labelDirection:inherit;--inputDirection:inherit;--errorDirection:inherit;--requiredIndicationDisplay:inline;--labelMarginBottom:6px;--textPadding:3px;--textPadding_start:20px;--textPadding_end:3px;--labelPadding_start:0px;--labelPadding_end:20px;height:auto;--inputHeight:50px;}#comp-lo3pe5sc2{--fnt:normal normal normal 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--fntlbl:normal normal 700 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--direction:var(--wix-opt-in-direction, ltr);--align:start;--labelDirection:inherit;--inputDirection:inherit;--errorDirection:inherit;--requiredIndicationDisplay:inline;--labelMarginBottom:6px;--textPadding:3px;--textPadding_start:20px;--textPadding_end:3px;--labelPadding_start:0px;--labelPadding_end:20px;height:auto;--inputHeight:50px;}#comp-lo3pe5si2{--fnt:normal normal normal 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--fntlbl:normal normal 700 14px/1.88em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;--direction:var(--wix-opt-in-direction, ltr);--align:start;--labelDirection:inherit;--inputDirection:inherit;--errorDirection:inherit;--requiredIndicationDisplay:inline;--labelMarginBottom:6px;--textPadding:3px;--textPadding_start:20px;--textPadding_end:3px;--labelPadding_start:0px;--labelPadding_end:20px;height:auto;--inputHeight:50px;}#comp-lo3pe5sp2{--shc-mutated-brightness:28,30,39;--margin-start:0px;--margin-end:0px;--fnt:normal normal 700 17px/1.75em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;direction:var(--wix-opt-in-direction, ltr);--label-align:center;--label-text-align:center;}#comp-lo3pe5sw{--text-direction:var(--wix-opt-in-direction);}#comp-lo3pdmrn{--bg-overlay-color:rgb(var(--color_37));--bg-gradient:none;width:100%;--column-width:392px;--column-flex:392;}#comp-lo3pi2hn{--text-direction:var(--wix-opt-in-direction);}#comp-lo3pc569{--text-direction:var(--wix-opt-in-direction);}#comp-lo3pc56f{--height:32px;--width:25px;}#comp-lo3pc56l2{--min-height:18px;--text-direction:var(--wix-opt-in-direction);}#comp-lo3pc56n{--text-direction:var(--wix-opt-in-direction);}#comp-lo3pc56p{--height:32px;--width:25px;}#comp-lo3pc56v{--min-height:74px;--text-direction:var(--wix-opt-in-direction);}#comp-lo3pc56x{--text-direction:var(--wix-opt-in-direction);}#comp-lo3pc56y4{--height:32px;--width:25px;}#comp-lo3pc570{--min-height:18px;--text-direction:var(--wix-opt-in-direction);}