/*** VSM_CSS ***/ /* END STYLABLE DIRECTIVE RULES */

#comp-lgbzpook .style-ljw9ht6y__root:hover .StylableButton2545352419__icon {
    fill: #F68C00;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lgbzpook .style-ljw9ht6y__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #FBC000
}

#comp-lgbzpook .style-ljw9ht6y__root:hover {
    background: rgba(255, 238, 188, 0.33);
}

#comp-lgbzpook .style-ljw9ht6y__root:hover .StylableButton2545352419__label { font-family: arial,'\FF4D\FF53  \FF50\30B4\30B7\30C3\30AF','ms pgothic','\B3CB\C6C0',dotum,helvetica,sans-serif; font-size: 14px; font-weight: normal; font-style: normal;
    font-weight: 700;
    color: #F68C00;
}

#comp-lgbzpook .style-ljw9ht6y__root:disabled{
    background: #E2E2E2
}

#comp-lgbzpook .style-ljw9ht6y__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-lgbzpook .style-ljw9ht6y__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-lgbzpook .style-ljw9ht6y__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-lgbzpook .style-ljw9ht6y__root .StylableButton2545352419__label{
    transition: inherit;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-family: poppins-extralight,poppins,sans-serif;
    margin: 0px 2px 0px 0px; font-family: arial,'\FF4D\FF53  \FF50\30B4\30B7\30C3\30AF','ms pgothic','\B3CB\C6C0',dotum,helvetica,sans-serif; font-size: 14px; font-weight: normal; font-style: normal;
    font-weight: 700;
    color: #FFAE17
}

#comp-lgbzpook .style-ljw9ht6y__root .StylableButton2545352419__icon{
    transition: inherit;
    display: initial;
    margin: 0px 0px 0px 2px;
    width: 12px;
    height: 12px;
    fill: #FFAE17;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
    #comp-lgbzpook .style-ljw9ht6y__root .StylableButton2545352419__icon {
        fill: #FFFFFF;
    }
    #comp-lgbzpook .style-ljw9ht6y__root .StylableButton2545352419__label { font-size: 14px; font-weight: normal;
        font-size: 12px;
        color: #FFFFFF;
    }
    #comp-lgbzpook .style-ljw9ht6y__root {
        background: rgb(246, 140, 0);
        border: 1px solid rgba(251, 192, 0, 0);
        border-radius: 10px;
    }
}/* END STYLABLE DIRECTIVE RULES */

#comp-lraixtof .style-lraixtol1__root{-st-extends: StylableButton;transition: all 0.2s ease, visibility 0s;background: #FFFFFF}

/* START STYLABLE DIRECTIVE RULES */

#comp-lraixtof .style-lraixtol1__root:hover{background: #FFC824;border: 1px solid #FFFFFF}

#comp-lraixtof .style-lraixtol1__root:hover .StylableButton2545352419__label{
    color: #FFFFFF;
    font-size: 14px}

#comp-lraixtof .style-lraixtol1__root:disabled{background: #E2E2E2}

#comp-lraixtof .style-lraixtol1__root:disabled .StylableButton2545352419__label{color: #8F8F8F}

#comp-lraixtof .style-lraixtol1__root:disabled .StylableButton2545352419__icon{fill: #8F8F8F}

#comp-lraixtof .style-lraixtol1__root .StylableButton2545352419__container{transition: inherit}

#comp-lraixtof .style-lraixtol1__root .StylableButton2545352419__label{transition: inherit;letter-spacing: 0em;margin: 0px 4px 0px 0px;display: inherited;font-style: normal;font-size: 14px;font-family: arial,"ｍｓ ｐゴシック","ms pgothic","돋움",dotum,helvetica,sans-serif;font-weight: 700;color: #2A2A2A}

#comp-lraixtof .style-lraixtol1__root .StylableButton2545352419__icon{transition: inherit;fill: #FFFFFF;width: 10px;height: 10px;margin: 0px 0px 0px 4px;display: none}

#comp-lraixtof .style-lraixtol1__root:hover .StylableButton2545352419__icon{fill: #000000}