/*** VSM_CSS ***/ #mic7p{width:auto;min-height:40px;}#pageBackground_mic7p{--bg-position:absolute;--fill-layer-background-overlay-color:transparent;--fill-layer-background-overlay-position:absolute;--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;}#comp-lc4afps4{--bg-overlay-color:transparent;--bg-gradient:none;min-width:980px;}.comp-l6bpffsz {
				--wix-direction: ltr;
--spacingGap: 12;
--spacingVertical: 32;
--spacingHorizontal: 32;
--numberQuestionsLayoutBorderWidth: 0;
--numberAnswersLayoutBorderWidth: 1;
--dividerWidth: 1;
--presetSettings: 0;
--itemAppearanceStyle: 0;
--categoryOtherTextFont: normal normal normal 14px/1.4em arial;
--headerTextFont: normal normal bold 40px/1.4em arial;
--questionTextFont: normal normal normal 17px/1.4em arial;
--answerTextFont: normal normal normal 14px/1.4em arial;
--questionStripesTextFont: normal normal normal 25px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--questionNumberTextFont: normal normal normal 20px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--categoryOtherTextColor: 182,183,196;
--categoryOtherTextColor-rgb: 182,183,196;
--categoryOtherTextColor-opacity: 1;
--headerTextColor: 42,42,42;
--headerTextColor-rgb: 42,42,42;
--headerTextColor-opacity: 1;
--questionTextColor: 10,6,33;
--questionTextColor-rgb: 10,6,33;
--questionTextColor-opacity: 1;
--answerTextColor: 10,6,33;
--answerTextColor-rgb: 10,6,33;
--answerTextColor-opacity: 1;
--answersLinksColor: 246,140,0;
--answersLinksColor-rgb: 246,140,0;
--answersLinksColor-opacity: 1;
--selectedCategoryTextColor: 255,200,36;
--selectedCategoryTextColor-rgb: 255,200,36;
--selectedCategoryTextColor-opacity: 1;
--widgetBgColor: 255,255,255;
--widgetBgColor-rgb: 255,255,255;
--widgetBgColor-opacity: 1;
--accordionCardBgColor: 255,255,255;
--accordionCardBgColor-rgb: 255,255,255;
--accordionCardBgColor-opacity: 1;
--questionStripesTextColor: 42,42,42;
--questionStripesTextColor-rgb: 42,42,42;
--questionStripesTextColor-opacity: 1;
--questionNumberTextColor: 255,255,255;
--questionNumberTextColor-rgb: 255,255,255;
--questionNumberTextColor-opacity: 1;
--questionNumberHover: 255,200,36;
--questionNumberHover-rgb: 255,200,36;
--questionNumberHover-opacity: 1;
--questionNumberBgColor: 255,200,36;
--questionNumberBgColor-rgb: 255,200,36;
--questionNumberBgColor-opacity: 1;
--numberQuestionsLayoutBorderColor: 255,200,36;
--numberQuestionsLayoutBorderColor-rgb: 255,200,36;
--numberQuestionsLayoutBorderColor-opacity: 1;
--numberAnswersLayoutBgColor: 255,255,255,0;
--numberAnswersLayoutBgColor-rgb: 255,255,255;
--numberAnswersLayoutBgColor-opacity: 0;
--numberAnswersLayoutBorderColor: 85,85,85;
--numberAnswersLayoutBorderColor-rgb: 85,85,85;
--numberAnswersLayoutBorderColor-opacity: 1;
--stripColor: 85,85,85;
--stripColor-rgb: 85,85,85;
--stripColor-opacity: 1;
--categoryOtherTextFont-style: normal;
--categoryOtherTextFont-variant: normal;
--categoryOtherTextFont-weight: normal;
--categoryOtherTextFont-size: 14px;
--categoryOtherTextFont-line-height: 1.4em;
--categoryOtherTextFont-family: arial;
--categoryOtherTextFont-text-decoration: none;
--headerTextFont-style: normal;
--headerTextFont-variant: normal;
--headerTextFont-weight: bold;
--headerTextFont-size: 40px;
--headerTextFont-line-height: 1.4em;
--headerTextFont-family: arial;
--headerTextFont-text-decoration: none;
--questionTextFont-style: normal;
--questionTextFont-variant: normal;
--questionTextFont-weight: normal;
--questionTextFont-size: 17px;
--questionTextFont-line-height: 1.4em;
--questionTextFont-family: arial;
--questionTextFont-text-decoration: none;
--answerTextFont-style: normal;
--answerTextFont-variant: normal;
--answerTextFont-weight: normal;
--answerTextFont-size: 14px;
--answerTextFont-line-height: 1.4em;
--answerTextFont-family: arial;
--answerTextFont-text-decoration: none;
--questionStripesTextFont-style: normal;
--questionStripesTextFont-variant: normal;
--questionStripesTextFont-weight: normal;
--questionStripesTextFont-size: 25px;
--questionStripesTextFont-line-height: 1.4em;
--questionStripesTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--questionStripesTextFont-text-decoration: none;
--questionNumberTextFont-style: normal;
--questionNumberTextFont-variant: normal;
--questionNumberTextFont-weight: normal;
--questionNumberTextFont-size: 20px;
--questionNumberTextFont-line-height: 1.4em;
--questionNumberTextFont-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--questionNumberTextFont-text-decoration: none;
				--wix-color-1: 255,255,255;
--wix-color-2: 204,204,204;
--wix-color-3: 128,128,128;
--wix-color-4: 85,85,85;
--wix-color-5: 42,42,42;
--wix-color-6: 255,238,188;
--wix-color-7: 255,222,122;
--wix-color-8: 255,200,36;
--wix-color-9: 170,137,36;
--wix-color-10: 85,68,18;
--wix-color-11: 255,224,227;
--wix-color-12: 255,197,201;
--wix-color-13: 230,142,148;
--wix-color-14: 168,82,88;
--wix-color-15: 107,30,35;
--wix-color-16: 254,209,191;
--wix-color-17: 254,186,158;
--wix-color-18: 253,118,63;
--wix-color-19: 169,79,42;
--wix-color-20: 84,39,21;
--wix-color-21: 223,163,166;
--wix-color-22: 192,114,117;
--wix-color-23: 160,31,36;
--wix-color-24: 107,21,24;
--wix-color-25: 53,10,12;
--wix-color-26: 255,255,255;
--wix-color-27: 42,42,42;
--wix-color-28: 204,204,204;
--wix-color-29: 128,128,128;
--wix-color-30: 85,85,85;
--wix-color-31: 255,200,36;
--wix-color-32: 255,238,188;
--wix-color-33: 254,209,191;
--wix-color-34: 255,222,122;
--wix-color-35: 42,42,42;
--wix-color-36: 42,42,42;
--wix-color-37: 85,85,85;
--wix-color-38: 255,200,36;
--wix-color-39: 255,200,36;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 255,200,36;
--wix-color-43: 255,200,36;
--wix-color-44: 128,128,128;
--wix-color-45: 128,128,128;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 255,200,36;
--wix-color-49: 255,200,36;
--wix-color-50: 255,200,36;
--wix-color-51: 255,200,36;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 128,128,128;
--wix-color-55: 128,128,128;
--wix-font-Title: normal normal normal 22px/1.41em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 22px;
--wix-font-Title-line-height: 1.41em;
--wix-font-Title-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 14px/1.79em futura-lt-w01-light,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 14px;
--wix-font-Menu-line-height: 1.79em;
--wix-font-Menu-family: futura-lt-w01-light,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 28px/1.38em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 28px;
--wix-font-Page-title-line-height: 1.38em;
--wix-font-Page-title-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 88px/1.2em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 88px;
--wix-font-Heading-XL-line-height: 1.2em;
--wix-font-Heading-XL-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 72px/1.25em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 72px;
--wix-font-Heading-L-line-height: 1.25em;
--wix-font-Heading-L-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal normal 50px/1.34em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: normal;
--wix-font-Heading-M-size: 50px;
--wix-font-Heading-M-line-height: 1.34em;
--wix-font-Heading-M-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal normal 40px/1.35em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: normal;
--wix-font-Heading-S-size: 40px;
--wix-font-Heading-S-line-height: 1.35em;
--wix-font-Heading-S-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal normal 20px/1.67em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: normal;
--wix-font-Body-L-size: 20px;
--wix-font-Body-L-line-height: 1.67em;
--wix-font-Body-L-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 17px/1.75em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 17px;
--wix-font-Body-M-line-height: 1.75em;
--wix-font-Body-M-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 14px/1.88em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 14px;
--wix-font-Body-S-line-height: 1.88em;
--wix-font-Body-S-family: arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 14px/1.79em futura-lt-w01-light,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 14px;
--wix-font-Body-XS-line-height: 1.79em;
--wix-font-Body-XS-family: futura-lt-w01-light,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
		}
.comp-l6bpffsz .sgzjlQo{--Text-deprecated-st-css2638543550-primary-color:#2A2A2A;--Text-deprecated-st-css2638543550-secondary-color:#555555}.comp-l6bpffsz .sgzjlQo.osyu0tI---typography-10-smallTitle{font:normal normal normal 24px/1.33em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif }.comp-l6bpffsz .sgzjlQo.osyu0tI---typography-11-runningText{font:normal normal normal 16px/1.5em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif }.comp-l6bpffsz .sgzjlQo.osyu0tI---typography-8-listText{font:normal normal normal 16px/2em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif }.comp-l6bpffsz .sgzjlQo.osyu0tI---typography-10-largeTitle{font:normal normal normal 32px/1.25em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif }.comp-l6bpffsz .sgzjlQo.osyu0tI--mobile.osyu0tI---typography-10-smallTitle{font:normal normal normal 20px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif }.comp-l6bpffsz .sgzjlQo.osyu0tI--mobile.osyu0tI---typography-11-runningText{font:normal normal normal 14px/1.42em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif }.comp-l6bpffsz .sgzjlQo.osyu0tI--mobile.osyu0tI---typography-8-listText{font:normal normal normal 14px/1.72em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif }.comp-l6bpffsz .sgzjlQo.osyu0tI--mobile.osyu0tI---typography-10-largeTitle{font:normal normal normal 24px/1.33em arial,"ｍｓ ｐゴシック","ms pgothic",돋움,dotum,helvetica,sans-serif }